doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='../Public/css/admin.css', type='text/css' )
    script(src='../Public/js/admin.js' defer)
    title Document
  body 
    h1 ADMIN 
    a(href=`/createMovie`) 
      button#createMovieButton(type='button') Crear Película
    a(href='/')
      button#logoutButton(type='button') Cerrar Sesión
    br
    br
    if resultM
        for result in resultM 
          a(href=`search/${result.Title}`)
             .paintFilms 
                h1 #{result.Title}
                p Año: #{result.Year}
                p Director: #{result.Director}
                p Duración: #{result.Runtime}
                p Genero: #{result.Genre}
                img#Poster(src=result.Poster)
                a(href=`deleteFilm/${result.Title}`)
                  button#deleteMovie(type='button') Eliminar
                a(href=`/editMovie/?data=${result.IdMovie}`)
                  button#editMovieButton(type='button') Editar