doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='../Public/css/admin.css', type='text/css' )
    script(src='../Public/js/admin.js' defer)
    title Document
  body 
    h1 ADMIN 
    a(href=`createMovie`) CREAR PELICULA
    br
    button(type='submit') EDITAR
    button(type='submit') ELIMINAR
    br
    if resultM
        for result in resultM 
          a(href=`search/${result.title}`)
             .paintFilms 
                h1 #{result.Title}
                p Año: #{result.Year}
                p Director: #{result.Director}
                p Duración: #{result.Runtime}
                p Genero: #{result.Genre}
                img#Poster(src=result.Poster)
                a(href=`deleteFilm/${result.title}`) Eliminar
                a(href=`/editMovie/?data=${result.IdPelicula}`)
                  button#editMovieButton(value=result.id) Editar