doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet' href='/Public/CSS/message.css')
        title Mensaje
    body
    if flag == true
        .box
            .box-cont
                span Mensaje:
                p#resultado #{type} #{message}
                br
                a#oka(href=link) Aceptar
    else 
        .boxNone
            .box-cont
                p#resultado #{message}
                br
                a#oka(href=link) Aceptar