doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='../Public/css/search.css', type='text/css' )
    link(rel='stylesheet', href='../Public/css/menu.css', type='text/css' )
    link(rel='icon', sizes='16x16 32x32 48x48 64x64', href='https://img.icons8.com/doodle/48/000000/popcorn.png')
    title Buscar
    body
    #imgMenu
      img#menuIcon.blockMenu(src='../Public/img/menu.png')
      img#menuIcon2.noneMenu(src='../Public/img/menu.png')
    #containerMenu
      ul#menuBurger.slide-bottom
        li  
          a(href='/dashboard') Panel de usuario
        li 
          a(href='/favMovies') Mis peliculas
        li 
          a(href='/search') Buscar peliculas
        li 
          a(href='/logout') Cerrar Sesión  

    .formSrch
      form(action='/search' method='post')
          input#filmName(type='text' placeholder='Buscar Película' required name='peliculaBuscar') 
         
    #filmContainer
          if arrayVacio              
            for result in arrayVacio
              a.linkSrch(href=`search/${result.Title}`)
                .cardSrch
                  .contSrch
                    img.Poster(src=result.Poster)
                    .textSrch
                      h1 #{result.Title}
                      .subTextSrch
                        p  #{result.Year} 
                        a(href=`/favMovies/${result.imdbID}/${result.Title}`)
                          img.imgFv(src="../Public/img/fav.png")
                      .resumenSrch
                        p  Director #{result.Director}   
                        p  Duracion '#{result.Runtime} 
                        p  Genero ' #{result.Genre}  
    script(src='../Public/js/menu.js')