doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='../Public/css/search.css', type='text/css' )
    title Document
    body 
     h1 SEARCH 
        form(action='/search' method='post')
            input#filmName(type='text' placeholder='Buscar Película' required name='peliculaBuscar') 
            button#searchFilm(type='submit') BUSCAR!
    #filmContainer
          if arrayVacio              
            for result in arrayVacio
             p
              p  
                h1 #{result.Title}
              p  Año #{result.Year}
              p  Director #{result.Director}   
              p  Duracion '#{result.Runtime} 
              p  Genero ' #{result.Genre}
              p
                  a(href=`search/${result.Title}`) Ficha Completa
              img#Poster(src=result.Poster) 