doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
    body 
     h1 SEARCH 
        form(action='/search' method='post')
            input#filmName(type='text' placeholder='Buscar Película' required name='peliculaBuscar') 
            button#searchFilm(type='submit') BUSCAR!
    button(type='submit') 
          if arrayVacio  
           ul
            for result in arrayVacio
              li Título #{result.Title}
              li Año #{result.Year}
              li Director #{result.Director}   
              li Duracion '#{result.Runtime} 
              li Genero ' #{result.Genre}
                  a(href=`search/${result.Title}`) Ficha Completa
              img(src=result.Poster) 